<% if (theme.comment.disqus) { %>
  <div id="disqus_thread">
    <noscript>
      Please enable JavaScript to view the
      <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a>
    </noscript>
  </div>
  <script id="disqus">
    var disqus_config = function () {
        this.page.url = '<%= page.permalink %>';
        this.page.identifier = '<%= page.path %>';
        this.page.title = '<%= page.title %>';
    };
    (function() {
    var d = document, s = d.createElement('script');

      s.src = '//<%= theme.comment.disqus %>.disqus.com/embed.js';

    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();  
  </script>
<% } else if (theme.comment.uyan) { %>
  <!-- UY BEGIN -->
  <div id="uyan_frame"></div>
  <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=<%=      theme.comment.uyan %>"></script>
  <!-- UY END -->
<% } else if (theme.comment.gentie) { %>
  <div id="cloud-tie-wrapper" class="cloud-tie-wrapper"></div>
  <script src="https://img1.cache.netease.com/f2e/tie/yun/sdk/loader.js"></script><script>
    var cloudTieConfig = {
      url: document.location.href,
      sourceId: "",
      productKey: "<% theme.comment.gentie.key %>",
      target: "cloud-tie-wrapper"
    };
    var yunManualLoad = true;
    Tie.loader("<% theme.comment.gentie.token %>", true);
  </script>
<% } %>
